version: '3'
services:
  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - mysql
  mysql:
    image: mariadb:10.5.8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: bankChallenge
      MYSQL_USER: root
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
