*{
    transition: all 0.2s;
}

.bg-blur{
    backdrop-filter: blur(5px);
}
.bg-light{
    background-color: #ecf0f1 !important;
}
.text-primary{
    color: #2c3e50 !important;
}
.border-primary{
    border-color: #2980b9 !important;
}

.btn-info:hover{
    background-color: #8e44ad !important;
    border-color: #9b59b6 !important;
}
.btn-info{
    background-color: #9b59b6 !important;
    border-color: #8e44ad !important;
}
.btn-secondary{
    background-color: #7f8c8d;
    border-color: #95a5a6;
    
}

.btn-outline-primary{
    color: #2980b9;
}
.btn-outline-primary:hover{
    background-color: #2980b9;
}

.bg-purple{
    background-color: #9b59b6 !important;
}
.bg-primary{
    background-color: #3498db !important;
}
.bg-success{
    background-color: #2ecc71 !important;
}
